/* .task-list {
  background-color: rgba(255, 0, 0, 0.534);
} */

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 40px 0 40px;
  padding: 15px;
  border-bottom: 1px dotted #969696;
}

.task-item p {
  font-size: 0.95em;
  /* font-family: 'Comfortaa', cursive; */
  /* font-family: 'Rubik', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.fa:hover {
 cursor: pointer;
}

.left-div-task {
  display: flex;
  align-items: center;
  color: #575757;
}

.fa-check-circle {
  font-size: 21px;
  margin-right: 20px;
  margin-bottom: 2px;
}

.check-complete {
  color: rgb(35, 233, 35);
}

.paragraph-complete {
  color: #bebebe;
  text-decoration: line-through;
}

.right-div-task {
  max-width: auto;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #707070;
}

.task-icon {
  font-size: 1.05em;
}

.trash-icon {
  margin-left: 20px;
}

.task-icon:hover {
  color: blue;
  cursor: pointer;
}

@media (max-width: 812px) {
  .task-item {
    margin: 5vw;
  }

  .task-item p {
    font-size: 0.95em;
  }

  .task-icon {
    margin: 2px;
  }
}