.header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #5353ffcb;
}

.header h1 {
  font-family: 'Comfortaa', cursive;
  color: #f3f3f3;
  font-size: 27px;
  margin-left: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none; 
          user-select: none; 
}

.bars {
  display: none;
}

@media (max-width: 812px) {
  /* Remove "To Do" logo and instead add menu bars when width is at 500px */
  /* Additionally, .content in content.css should have width: 100vw */

  .header h1 {
    display: none;
  }

  .bars {
    display: block;
    color: #f3f3f3;
    font-size: 27px;
    margin-left: 20px;
    cursor: pointer;
  }
}