.header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #5353ffcb;
}

.header h1 {
  font-family: 'Comfortaa', cursive;
  color: #f3f3f3;
  font-size: 27px;
  margin-left: 20px;
}