.task-modal-bg, .list-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* Fade in BG */
  background-color: rgba(0, 0, 0, 0.411);
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 125ms;
}

.task-modal, .list-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 225px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  /* Fade in Modal */
  opacity: 1;
	animation-name: fadeInOpacityModal;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 125ms;
}

.close-modal-button {
  color: rgb(100, 100, 100);
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 1.3em;
  cursor: pointer;
}

.close-modal-button:hover {
  color: #6767ff;
}

.inner-modal-container {
  width: 75%;
}

.inner-modal-container h3 {
  color: #4d4deb;
  margin-bottom: 20px;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;;
}

.inner-modal-container input {
  width: 100%;
  height: 40px;
  font-size: 0.95rem;
  font-family: 'Open Sans', sans-serif;
  color: #474747;
  border: 1px solid rgba(103, 103, 255, 0.521);
  padding: 15px;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInOpacityModal {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (max-width: 812px) {
  .task-modal, .list-modal {
    width: 90vw;
    height: 90vw;
  }
}